<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthBuilders.surveyApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DocumentationSanitation"></activity>
        <activity android:name=".DocumentationCustomer" />
        <activity android:name=".DocumentationMalaria" />
        <activity android:name=".DocumentationReceivableRegisters" />
        <activity android:name=".DocumentationPayableRegisters" />
        <activity android:name=".DocumentationAttendanceRegister" />
        <activity android:name=".DocumentationRegister" />
        <activity android:name=".DocumentationQiplan" />
        <activity android:name=".DocumentationWorkSchedule" />
        <activity android:name=".DocumentationInservice" />
        <activity android:name=".DocumentationBudget" />
        <activity android:name=".DocumentationBusinessPlan" />
        <activity android:name=".DocumentationActionPlan" />
        <activity android:name=".ServiceDescriptionNoticeboard" />
        <activity android:name=".ServiceDescriptionToilets" />
        <activity android:name=".ServiceDescriptionHospitalization" />
        <activity android:name=".ServiceDescriptionMaternity" />
        <activity android:name=".ServiceDescriptionConsultation" />
        <activity android:name=".ServiceDescriptionCustomerCare" />
        <activity android:name=".ServiceDescriptionArv" />
        <activity android:name=".ServiceDescriptionDataManager" />
        <activity android:name=".ServiceDescriptionTitulaire" />
        <activity android:name=".ServiceDescriptionLaboratory" />
        <activity android:name=".ServiceDescriptionAccounting" />
        <activity android:name=".ServiceDescriptionCashier" />
        <activity android:name=".ServiceDescriptionCeho" />
        <activity android:name=".ServiceDescriptionNcd" />
        <activity android:name=".ServiceDescriptionPharmacyDispense" />
        <activity android:name=".ServiceDescriptionPharmacy" />
        <activity android:name=".ServiceDescriptionFamilyplanning" />
        <activity android:name=".ServiceDescriptionVaccination" />
        <activity android:name=".serviceDescription" />
        <activity android:name=".SurveySection" />
        <activity android:name=".startPage" />
        <activity android:name=".Steptwo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>