<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthBuilders.surveyApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionNoticeboard"></activity>
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionToilets" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionHospitalization" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionMaternity" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionConsultation" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionCustomerCare" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionArv" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionDataManager" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionTitulaire" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionLaboratory" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionAccounting" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionCashier" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionCeho" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionNcd" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionPharmacyDispense" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionPharmacy" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionFamilyplanning" />
        <activity android:name="com.healthBuilders.surveyApp.ServiceDescriptionVaccination" />
        <activity android:name="com.healthBuilders.surveyApp.serviceDescription" />
        <activity android:name="com.healthBuilders.surveyApp.SurveySection" />
        <activity android:name="com.healthBuilders.surveyApp.startPage" />
        <activity android:name="com.healthBuilders.surveyApp.Steptwo" />
        <activity android:name="com.healthBuilders.surveyApp.MainActivity" />
        <activity android:name="com.healthBuilders.surveyApp.Registration" />
        <activity android:name="com.healthBuilders.surveyApp.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>