<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthBuilders.surveyApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".commentSection1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".generalInformaion2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PharmacyDispensary"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".valueOfPharmacy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdmittedPatientsAsthma"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdmittedPatientsDiabetes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdmittedPatientsHypertension"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdmittedPatients"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".keyIndicators"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".inpatientsCare"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".guidelinesAsrh"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".outpatientDiarhea"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".outpatientPnemonia"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".outpatientCough"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".outpatientFever"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".outpatientMalaria"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".referralProcess"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".treatmentguidelineMaternity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".treatmentguidelinesOverall"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tratmentguidelinesAnc"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".treatmentguidlineAsthma"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".treatmentguidlineDiabetes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".treatmentguidelineHypertensioin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".healthEducation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".safetyManagement"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pharmacyStock"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pharmacymanagementReview"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Services" />
        <activity android:name=".ExpensesReview" />
        <activity android:name=".Accounts" />
        <activity android:name=".IncomeReview" />
        <activity android:name=".InsuranceReview" />
        <activity android:name=".FinanceManagementSop" />
        <activity android:name=".DataManagementMaternal" />
        <activity android:name=".DataCompletenessOpd" />
        <activity android:name=".DataAccuracyMalaria" />
        <activity android:name=".DataAccuracyBcg" />
        <activity android:name=".DataAccuracyNcd" />
        <activity android:name=".DataAccuracyDeliveries" />
        <activity android:name=".Datamanagement_Sop" />
        <activity android:name=".DocumentationSanitation" />
        <activity android:name=".DocumentationCustomer" />
        <activity android:name=".DocumentationMalaria" />
        <activity android:name=".DocumentationReceivableRegisters" />
        <activity android:name=".DocumentationPayableRegisters" />
        <activity android:name=".DocumentationAttendanceRegister" />
        <activity android:name=".DocumentationRegister" />
        <activity android:name=".DocumentationQiplan" />
        <activity android:name=".DocumentationWorkSchedule" />
        <activity android:name=".DocumentationInservice" />
        <activity android:name=".DocumentationBudget" />
        <activity android:name=".DocumentationBusinessPlan" />
        <activity android:name=".DocumentationActionPlan" />
        <activity android:name=".ServiceDescriptionNoticeboard" />
        <activity android:name=".ServiceDescriptionToilets" />
        <activity android:name=".ServiceDescriptionHospitalization" />
        <activity android:name=".ServiceDescriptionMaternity" />
        <activity android:name=".ServiceDescriptionConsultation" />
        <activity android:name=".ServiceDescriptionCustomerCare" />
        <activity android:name=".ServiceDescriptionArv" />
        <activity android:name=".ServiceDescriptionDataManager" />
        <activity android:name=".ServiceDescriptionTitulaire" />
        <activity android:name=".ServiceDescriptionLaboratory" />
        <activity android:name=".ServiceDescriptionAccounting" />
        <activity android:name=".ServiceDescriptionCashier" />
        <activity android:name=".ServiceDescriptionCeho" />
        <activity android:name=".ServiceDescriptionNcd" />
        <activity android:name=".ServiceDescriptionPharmacyDispense" />
        <activity android:name=".ServiceDescriptionPharmacy" />
        <activity android:name=".ServiceDescriptionFamilyplanning" />
        <activity android:name=".ServiceDescriptionVaccination" />
        <activity android:name=".serviceDescription" />
        <activity android:name=".SurveySection" />
        <activity android:name=".startPage" />
        <activity android:name=".Steptwo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>